{% extends "proyectorefugio/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'proyectorefugio/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Empatia</span>
            <span class="section-heading-lower">¿Como puedo adoptar una mascota?</span>
          </h2>
          <p class="mb-3">Son muchos los animales que necesitan tu ayuda. Mascotas abandonadas, heridas o maltratadas están a la espera de una casa de acogida que les quiera. Si te comprometes a ser un buen dueño y estás decidido a adoptar puedes llenar nuestro formulario de adopción y nosotros nos contactaremos con usted.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso</span>
                <span class="section-heading-lower">Requisitos para adopar una mascota</span>
              </h2>
              <p class="mb-0">
                <li>
                  Ser mayor de edad y contar con documento de identificacion
                </li>
                <li>
                  Comprobante de domicilio, documento que demuestre que la persona es propietaria del domicilio donde vivirá la mascota o, en caso de alquiler, que el arrendatario permite residir con animales
                </li>
                <li>
                  Contrato de adopcion, debes firmar un contrato donde te comprometes a: Cuidar de tu mascota y mantenerla en condiciones optimas de espacio, tiempo, alimentacion y ejercicio.
                </li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Responsabilidad</span>
                <span class="section-heading-lower">Lo que debes saber antes de adoptar una mascota</span>
              </h2>
              <p class="mb-0">
                <li>
                  Nos reservamos el derecho de no entregarte la mascota si no cumples con los requisitos
                </li>
                <li>
                  Puede solicitar que la presentación o adopción de la mascota se realice en el domicilio en el que vivirá la mascota, esto nos ayudaria a conocer su entorno
                </li>
                <li>
                  Durante el régimen de acogida se realizará un seguimiento para ver qué tal se adapta la mascota a la familia y comprobar que se cumple el compromiso adquirido.
                </li>
                <li>
                  Compromiso de no abandonarlo. Si por algún motivo no puedes hacerte cargo de la mascota lo devolverás a la asociación. Nosotros nos haremos cargo
                </li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Solidaridad</span>
                <span class="section-heading-lower">¿De que otra forma puedo ayudar?</span>
              </h2>
              <p class="mb-0">
                <li>
                  Donación, las aportaciones economicas o donación de objetos y juguetes para estos animales son otra forma de mejorar su vida.
                </li>
                <li>
                  Apadrinamiento, puedes convertirte en un padrino /madrina de una mascota y ocuparte de su manutencion hasta que un dueño lo adopte
                </li>
                <li>
                  Voluntariado, otra opcion es hacerte voluntario de nuestra asosacion y participar en nuestro proyecto solidario: asistir directamente a los animales, divulgación de información, desarrollo de eventos en defensa de los animales, seguimiento de adopciones, etc.
                </li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  

{% endblock %}